<h2>{{title}}</h2>
<hr>
<div ng-repeat="item in config" class="main">
  <div ng-if="item.type === 'TextField'" class="inputBlock">
    <label>{{item.label}}</label><br>
    <input id="inputBox" type="text" name="{{item.name}}" ng-model="resultObject.name" placeholder="enter name" required>
  </div>
  <div ng-if="item.type === 'DropDown'" class="selectBlock">
    <label>{{item.label}}</label><br>
    <select id="selectBox" ng-model="stateName" name="{{item.name}}">
      <option ng-repeat="option in item.values" value="{{option}}">{{option}}</option>
    </select>
  </div>
</div>
<button id="button" ng-click="onsubmit()">Submit</button>

<div class="response">{{resultObject}}</div>